* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	box-sizing: border-box;
	overflow: hidden;
	line-height: 1.15;
	font-family: 'Gill Sans Extrabold', sans-serif;
  cursor: none !important;
}

.font-vt323 {
	font-family: 'VT323', monospace;
	font-weight: 400;
	font-style: normal;
}
